{% extends 'layout.html.twig' %}

{% trans_default_domain 'security' %}

{% block title 'login.title'|trans %}

{% block subtitle 'login.subtitle'|trans %}

{% block body %}

    {% if error %}
        <p>
            {{ error.messageKey|trans(error.messageData) }}
        </p>
    {% endif %}

    <form action="{{ path('app_login_check') }}" method="post">
        <label for="username">
            {{- 'login.form.username'|trans -}}
        </label>
        <input type="text" id="username" name="my_login" value="{{ last_username }}" />

        <label for="password">
            {{- 'login.form.password'|trans -}}
        </label>
        <input type="password" id="password" name="my_secret" />

        <button type="submit">
            {{- 'login.form.submit'|trans -}}
        </button>
    </form>

{% endblock %}
